- function excerpt(content) {
  - if(!content || content.indexOf("<!-- more -->") === -1) return content;
  - else return content.split("<!-- more -->")[0];
- }

ul.blog-activity
  include _latest_posts

  li.blog-activity__list-item
    a.blog-activity__post(href='/blog/#{ latestPosts[0].slug }')
      .blog-activity__post-date!= latestPosts[0].date
      .blog-activity__post-title!= latestPosts[0].title
      .blog-activity__post-description!= excerpt(partial('/blog/' + latestPosts[0].slug + '.md'))

  li.blog-activity__list-item
    a.blog-activity__post(href='/blog/#{ latestPosts[1].slug }')
      .blog-activity__post-date!= latestPosts[1].date
      .blog-activity__post-title!= latestPosts[1].title
      .blog-activity__post-description!= excerpt(partial('/blog/' + latestPosts[1].slug + '.md'))

a(href='/blog').button.button--blue More posts
