- function excerpt(content) {
  - if(!content || content.indexOf("<!-- more -->") === -1) return content;
  - else return content.split("<!-- more -->")[0];
- }

  include _latest_posts
  .activity__blog-post
    a.activity__blog-post(href='/blog/#{ latestPosts[0].slug }')
      .activity__blog-content-date!= latestPosts[0].date
      .activity__blog-content-title!= latestPosts[0].title
      .activity__blog-content-description!= excerpt(partial('/blog/' + latestPosts[0].slug + '.md'))

  .activity__blog-post
    a.activity__blog-post(href='/blog/#{ latestPosts[1].slug }')
      .activity__blog-content-date!= latestPosts[1].date
      .activity__blog-content-title!= latestPosts[1].title
      .activity__blog-content-description!= excerpt(partial('/blog/' + latestPosts[1].slug + '.md'))

a(href='#').button.button__blue More posts
