- function excerpt(content) {
  - if(!content || content.indexOf("<!-- more -->") === -1) return content;
  - else return content.split("<!-- more -->")[0];
- }

include _latest_posts
    ul
      li.activity__blog-post
        a(href="/blog/#{ post.slug }")
          .activity__blog-content-date= post.date
          .activity__blog-content-title= post.title
          .activity__blog-content-description!= excerpt(partial('/blog/' + post.slug + '.md'))

    //  while n < 2
    //  - n++
    //     li
    //       a.activity__blog-post(href="/blog/#{ post.slug }")
    //         .activity__blog-content-date= post.date
    //         .activity__blog-content-title= post.title
    //         .activity__blog-content-description!= excerpt(partial('/blog/' + post.slug + '.md'))



a(href='/blog').button.button__blue More posts

