unless featureIconPosition
  - var featureIconPosition = "left";

unless featuresWanted
  - var featuresWanted = Object.keys(ocFeatures);

for feature in featuresWanted
  if ocFeatures[feature]
    .oc-feature(class="oc-feature--#{featureIconPosition}")
      .oc-feature__icon(class="oc_icon-#{ocFeatures[feature].icon}")
      h1.oc-feature__title #{ocFeatures[feature].title}

      if featureImage
        .oc-feature__image #{ocFeatures[feature].image}

      if featureDescription
        p.oc-feature__description #{ocFeatures[feature].description}
