unless featureIconPosition
  - var featureIconPosition = "left";

unless featuresWanted
  - var featuresWanted = Object.keys(ocFeatures);

for feature in featuresWanted
  if ocFeatures[feature]
    .oc-feature(class='oc-feature--#{featureIconPosition} #{featureSize === "large" ? "oc-feature--large" : ""}')

      .oc-feature__content
        .oc-feature__title-wrapper(class='oc-feature__title-wrapper--#{featureIconPosition}')
          .oc-feature__icon(class='oc_icon-#{ocFeatures[feature].icon}')
          h1.oc-feature__title #{ocFeatures[feature].title}

        if featureDescription
          p.oc-feature__description
            != ocFeatures[feature].description

      if featureImage
        .oc-feature__image-wrapper
          .oc-feature__image
            img(src='/images/features/feature/#{ocFeatures[feature].image}.jpg', alt='#{ocFeatures[feature].title.toLowerCase().replace(" ", "-")}', title='#{ocFeatures[feature].title}')



